.grid {
  background-color: red;
  border: 5px black;
  position: relative;
  margin: 2px;
  display: flex;
  justify-content: space-around;
  height: 28px;
  width: 24px;
}

.container {
  margin: 0px 80px 80px 80px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
